.cl-8-title {
	width: 100%;
	background-color: #fff;
	padding: 25px;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
	font-size: 20px;
}

.cl-8-content {
	width: 100%;
	background-color: #fff;
	padding: 25px;
	box-sizing: border-box;
	font-size: 20px;
}

.cl-8-c-line {
	margin: 20px 0;
}

.cl-8-c-line label {
	display: block;
	margin: 10px 0;
}

.cl-8-c-line input {
	width: 100%;
	padding: 8px 10px;
	box-sizing: border-box;
	border: 1px solid #dce2eb;
	font-size: 18px;
}

.cl-8-c-line select {
	padding: 5px 10px;
	border: 1px solid #dce2eb;
	appearance: auto;
}

.cl-8-c-line button {
	color: #ffffff;
	font-size: 14px;
	background-color: #e44d3a;
	padding: 10px 25px;
	border: 0;
	font-weight: 600;
	cursor: pointer;
}


/* 样式恢复 */
.cl-8-c-line #text table {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
}
.cl-8-c-line #text table td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px;
	min-height: 30px;
	height: 30px;
}
.cl-8-c-line #text pre {
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #f1f1f1;
}
.cl-8-c-line #text a {
	text-decoration: underline;
}
.cl-8-c-line #text li {
	line-height: 30px;
}
.cl-8-c-line #text ul,
.cl-8-c-line #text ol {
	margin: 10px 0 10px 20px;
}
.cl-8-c-line #text ul li {
	list-style-type: disc;
	list-style-position: inside;
}
.cl-8-c-line #text ol li {
	list-style-type: decimal;
	list-style-position: inside;
}
.cl-8-c-line #text .w-e-panel-tab-title li {
	list-style-type: none;
}
.cl-8-c-line #text .w-e-text b {
	font-weight: 600;
}
.cl-8-c-line #text .w-e-text i {
	font-style: italic;
}
/* 样式恢复结束 */


.cl-8-c-line #text .w-e-droplist li {
	list-style: none;
}
